@{
    /**/

    ViewBag.Title = "List of actors";
}

<h2>@ViewBag.Title</h2>

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

<div>
    <ul style="list-style-type:none;">
        @foreach (AppASV.Models.Actor actor in ViewBag.Actors)
        {
            <li><a href="/Actor/Show/@actor.ActorId">@actor.FirstName @actor.LastName</a></li>

        }
    </ul>
</div>

<br />

@if (ViewBag.afisareButoane)
{
    <a class="btn btn-sm btn-success" href="/Actor/New">Add a new actor</a>
    <br />
}