@{
                /**/

                ViewBag.Title = "List of actors";
}

<h2>@ViewBag.Title</h2>

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}


@foreach (AppASV.Models.Actor actor in ViewBag.Actors)
{
<div class="panel panel-default">
    <div class="panel-body">
        <a href="/Actor/Show/@actor.ActorId">@actor.FirstName @actor.LastName</a>
    </div>
   
    @*<div class="panel-footer">
        <a class="btn btn-sm btn-success" href="/Genre/Show/@actor.ActorId">Details of this actor</a>
    </div>*@
</div>
    <br />

}
@if (ViewBag.afisareButoane)
{
    <a class="btn btn-sm btn-success" href="/Actor/New">Add a new actor</a>
    <br />
}