@model AppASV.Models.Actor
@using AppASV.Models
@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}

<h2>@ViewBag.Title</h2>

@foreach (Tuple<Series, string> character in ViewBag.Series)
{
    <br />
    <div>
        Played <strong>@character.Item2</strong> in <a href="/Series/Show/@character.Item1.SeriesId">@character.Item1.Title</a>.
    </div>
}

<br />

@if (ViewBag.afisareButoane)
{
    <a class="btn btn-sm btn-info" href="/Actor/Edit/@Model.ActorId">Edit actor</a>
    <br />

    <form method="post" action="/Actor/Delete/@Model.ActorId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-sm btn-danger" type="submit">Delete actor</button>
    </form>

}


