@model AppASV.Models.Genre
@{
    ViewBag.Title = @Model.Name + " series";
}

<h2>@ViewBag.Title</h2>


<div>
    <ul style="list-style-type:none;">
        @foreach (AppASV.Models.Series series in ViewBag.Series)
        {
            <li><a href="/Series/Show/@series.SeriesId">@series.Title</a></li>

        }
    </ul>
</div>

<br />

@if (ViewBag.afisareButoane)
{
    <a class="btn btn-sm btn-info" href="/Genre/Edit/@Model.Name">Edit genre</a>
    <br />

    <form method="post" action="/Genre/Delete/@Model.Name">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-sm btn-danger" type="submit">Delete genre</button>
    </form>

}


