<div class="panel panel-default">
    <div class="panel-body">
        <strong>@Model.Name</strong>
        <br />
    </div>
    <div class="panel-footer">
        <a class="btn btn-sm btn-success" href="/Genre/Show/@Model.Name">Details of this genre</a>
    </div>
</div>
<br />



