<div class="panel panel-default">
    <div class="panel-heading">@Model.Title</div>
    <div class="panel-body">
        Number of seasons: <strong>@Model.NumberOfSeasons</strong>
        <br />
        Number of episodes: <strong>@Model.NumberOfEpisodes</strong>
        <br />
    </div>
    <div class="panel-footer">
        <a class="btn btn-sm btn-success" href="/Series/Show/@Model.SeriesId">Details of this series</a>
    </div>
</div>
<br />


